@import './base.css';

#app {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  font-weight: normal;
  padding: 0;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

@media (min-width: 1024px) {
  body {
    display: block;
    /* <-- bỏ display: flex */
  }

  #app {
    display: block;
    /* <-- bỏ display: grid */
    padding: 0;
    /* <-- bỏ padding 2rem */
  }
}

.modal-custom {
  max-width: 300px;
}

.add button {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  margin-right: 8px;
  color: #54333f;
}

.add button:hover {
  color: #fff;
  background-color: #54333f;
  transform: scale(1.05);
}

.modal-title {
  text-align: center;
  width: 100%;
}

h4 {
  color: white;
  -webkit-text-stroke: 1px #54333f;
  text-shadow: 1px 1px 2px #54333f;
  font-size: 50px;
  font-weight: bold;
}

tr th {
  background-color: #ddbebe;
  color: #fff;
}